body {
  margin: 0px;
  padding: 0px;
  background: #000;
  background-attachment: fixed;
}

table#content {
  width: 1000px;
  height: 100%;
  padding: 0px;
  font: normal 0.8em Tahoma, Verdana, sans-serif;
  color: #333;
  line-height: 130%;
  text-align: justify;
  margin-left: 260px;
}

td#col1 {
  width: 700px !important;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

.header {
  background: #9f0408 url() repeat-x;
  height: 156px;
  border-bottom: 1px solid #fff;
  margin-top: -16px !important;
}

.link_menu {
  background: #000 url(main.css) repeat-x;
}

td#col2 {
  width: 275px !important;
  /* background: #000 url(/img/bg.gif); */
  padding: 0px;
  margin: 0px;
}

.link_menu a,
.link_menu a:visited {
  color: #f0f0f0 !important;
  border-bottom: 1px solid #fff;
  display: block;
  font: bold 0.9em Verdana, sans-serif;
  height: 18px;
  font-size: 12px;
  padding: 3px 0 3px 6px;
  text-decoration: none;
  vertical-align: middle;
}

div a {
  color: #f0f0f0;
  cursor: pointer;
  text-decoration: none;
}
